.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #f5f5f5;
}
.title{
  display: flex;
  text-align: center;
}
.login-card {
  display: flex;
  width: 1000px;
  height: 500px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff;
}

/* Left side image */
.login-left {
  flex: 1;
}

.login-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Right side login form */
.login-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.login-right h2 {
  margin-bottom: 10px;
}

.login-right p {
  margin-bottom: 30px;
  color: #555;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.input-group i {
  margin-right: 10px;
  color: #888;
}

.input-group input {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 0;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  background-color: tomato;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(250, 112, 87);
}

.forgot {
  margin-top: 10px;
  text-align: right;
}

.forgot a {
  text-decoration: none;
  color: #4CAF50;
}

.forgot a:hover {
  text-decoration: underline;
}
