.navbar-container {
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: #fff;
}

.admin-logo-text h1 {
color: tomato;
  font-weight: 600;
  margin: 0;

}

.admin-logo-text p {
  margin: 2px 0 0 0;
  font-size: 14px;
  color: #555;
}

.navbar-right img.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

/* Horizontal line below navbar */
.navbar-divider {
  margin: 0;
  border: none;
  border-bottom: 2px solid #ccc; /* you can change color */
  width: 100%;
}
.admin-button{
  height: 30px;
  width: 90px;
  background-color: tomato;
  border-radius: 50px;
display:flex;
text-align: center;
justify-content: center;
align-items: center;
font-size: 14px;
}