.add-page {
  padding: 10px;
  background-color: #f9f9f9;
  margin-top: 0px;
}

.add-page h2 {
  color: tomato;
  margin-bottom: 20px;
}

.add-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label,
.form-group p {
  margin-bottom: 5px;
  font-weight: 500;
}

.form-group input,
.form-group select {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.image-upload img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-top: 5px;
  border: 2px dashed #ccc;
  border-radius: 6px;
  cursor: pointer;
}

.submit-btn {
  background-color: tomato;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.submit-btn:hover {
  background-color: #e5533d;
}
