
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  font-family: 'Poppins';
}
.explore-menu {
  padding: 10px 20px;
  margin: 30px 40px 20px 40px;
  box-sizing: border-box;
}

.explore-menu .text h1 {
  margin-bottom: 10px;
}

.explore-menu .text p {
  margin-bottom: 20px;
  color: gray;
}

.explore-menu2 {
  margin: 30px 20px 0px 10px;
  display: flex;
  gap: 30px;

  overflow-x: auto;
  flex-wrap: nowrap;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.explore-menu2::-webkit-scrollbar {
  display: none;
}

.explore-menu2 .wrap {
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 10px;
  border-radius: 10px;
}

.explore-menu2 .wrap:hover {
  transform: translateY(-3px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.explore-menu2 img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 100px;
  margin-top: 10px;
  overflow-x: scroll;
}

@media (max-width: 768px) {
  .explore-menu {
    padding: 10px;
    margin: 20px;
  }

  .explore-menu2 {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow-x: visible;
    flex-wrap: wrap;
  }

  .explore-menu2 img {
    width: 100px;
    height: 100px;
  }
}
.active1{
  border-radius: 100px;
  border: 4px solid tomato;
}