.food_list {
    box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;     
  gap: 35px;
  padding: 10px 20px;
  margin: 10px 20px 0 70px;

}

.text h2 {
  padding: 10px 20px;
  margin: 30px 20px 0 40px;
}
